
<% if flash[:errors].present?  %>
  <ul>
    <% flash[:errors].each do |error|   %>
      <li><%= error  %></li>
    <% end %>
  </ul>
<% end %>
<br><br>


<!-- multipart:true required for uploads files -->
<%= form_for @user, html: {multipart:true, class: "form"} do |f| %>

<!-- < %= f.label :name %> -->
<%= f.text_field :name, placeholder: "Name", class: 'form-input' %>
<br>


<!-- < %= f.label :email %>  -->
<%= f.email_field :email, placeholder: "Email", class: 'form-input' %>
<br>


<!-- < %= f.label :password %> -->
<%= f.password_field :password, placeholder: "Password", class: 'form-input'  %>
<br>


<!-- < %= f.label :password_confirmation %> -->
<%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: 'form-input'%>
<br>

<!-- < % = f.text_field :image %> -->
<%= f.label :image, "Upload profile image", class: 'form-form' %>
<%= f.cl_image_upload :image%>
<br>
<br>

<%= f.label :is_instructor, "I am a yoga instructor", class: 'form-form' %>
<%= f.check_box :is_instructor %>
<br>
<br>


<%= f.submit class: 'btn book submit' %>

<% end %>
