<div class="main">
  <h2 class="account">ACCOUNT SETTINGS</h2>

  <div class="btn book">
    <%= link_to 'EDIT', edit_user_path(@user.id) %>
  </div>
  <div class="btn cancel">
    <%= link_to 'DELETE ACCOUNT', user_path(@user.id), method: 'delete' %>
  </div>

  <p><strong>Name: </Strong> &nbsp;  <%= @user.name %></p>
  <p><strong>Email: </Strong> &nbsp; <%= @user.email %></p>
  <p><strong>Instructor: </Strong> &nbsp; <%= @user.is_instructor %></p>


  <p><strong>Password: </Strong> &nbsp; *******</p>

  <% if @user.image.present?  %>
    <%= cl_image_tag(@user.image, class: 'show' )  %>
  <% end %>


</div>
