

<% if flash[:errors].present?  %>
  <ul>
    <% flash[:errors].each do |error|   %>
      <li><%= error  %></li>
    <% end %>
  </ul>
<% end %>
<br>
<br>



<%= form_for @schedule, html: {multipart:true} do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>
<br>

<%= f.label :duration, 'Duration (min)' %>
<%= f.text_field :duration %>
<br>

<%= f.label :level %>
<%= f.text_field :level %>
<br>

<%= f.label :description %>
<%= f.text_field :description %>
<br>

<%= f.label :start, 'Date and Time' %>
<%= f.datetime_field :start %>
<br>

<%= f.label :image %>
<%= f.cl_image_upload :image %>
<br>


<%= f.submit %>

<% end %>
