

<% if flash[:errors].present?  %>
  <ul>
    <% flash[:errors].each do |error|   %>
      <li><%= error  %></li>
    <% end %>
  </ul>
<% end %>
<br>
<br>

<!-- need to add flash errors here -->


<%= form_for @schedule do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>
<br>

<%= f.label :image, 'Image URL' %>
<%= f.text_field :image %>
<br>

<%= f.label :duration %>
<%= f.text_field :duration %>
<br>

<%= f.label :level %>
<%= f.text_field :level %>
<br>

<%= f.label :description %>
<%= f.text_field :description %>
<br>

<%= f.label :start, 'Date and Time' %>
<%= f.datetime_field :start %>
<br>


<%= f.submit %>

<% end %>
