<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <%= cloudinary_js_config %>
  </head>
  <body>
  <div>
    <div>
      <div class="sydneyYoga">
        <h1>Sydney Yoga</h1>
      </div><div class="logo">
        <img src="https://www.pngkey.com/png/full/350-3500926_yoga-transparent-background-yoga-png.png" alt="logo" >
      </div>
    </div>

    <nav>
      <div id="leftNav">
        <ul>
          <% if @current_user.present? %>
            <li><%= link_to 'My Classes', bookings_path %></li>

          <% end  %>

          <% if @current_user.present? && @current_user.is_instructor %>
            <li><%= link_to 'Create New Class', new_schedule_path %></li>

          <% end %>
            <li><%= link_to 'All Classes', schedules_path %></li>
        </ul>
      </div><div id="rightNav">
        <ul>
          <% if @current_user.present? %>
              <li>Welcome, <%= link_to @current_user.name, user_profile_path %></li>

              <li><%= link_to 'Logout', login_path, method: 'delete' %></li>

            <% else %>

              <li><%= link_to 'Login', login_path %></li>

              <li><%= link_to 'Create new account', new_user_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>



      <%= yield %>




  <footer>
    &copy; Karma Tree Co. 2019
  </footer>


  </body>
</html>
