<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <%= cloudinary_js_config %>
  </head>
  <body>
  <h1>Sydney Yoga</h1>

  <nav>
  <% if @current_user.present? %>
      Welcome <%= link_to @current_user.name, user_profile_path %>
      |
      <%= link_to 'Logout', login_path, method: 'delete' %>
      |
      <%= link_to 'My Classes', bookings_path %>


    <% else %>
      <%= link_to 'Login', login_path %>
      |
      <%= link_to 'Create new account', new_user_path %>

  <% end %>

  <% if @current_user.present? && @current_user.is_instructor %>
    |
    <%= link_to 'Create New Class', new_schedule_path %>
  <% end %>
   |
   <%= link_to 'All Classes', schedules_path %>

  </nav>

  <hr>

      <%= yield %>

  <hr>

  <footer>
    &copy; Karma Tree Co. 2019
  </footer>


  </body>
</html>
